<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>
</head>

<body style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;" background="images/mark-cruz-698935-unsplash.jpg" bgproperties="fixed" bgcolor="#000000" text="#FFFFFF" >
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>
<h2 align="center" ><font color="#FFFFFF" face="黑体">听见 音乐的未知/遇见 美好的心情</font></h2>
<hr width="100%" size="3" color="#FF0000" noshade="noshade">
<br />
<br />
<br />
<h2 align="left"><font color="#FFFFFF" face="微软雅黑" size="6">->我们是谁</font></h2>
<hr align= "left" width="30%" size="0.9" color="#FFFFFF" noshade="noshade">
<br />
<br />

<div class="part">
<center>
<font face="微软雅黑" size="3">
<p>
X Music是由Johnson独立开发的一个音乐网站，该网站在2018年正式上线。</p>
<p>目前拥有环球音乐（universe music）、索尼音乐（Sony Music）和华研国际音乐（HIM）等多家
国内外知名音乐版权公司的版权。</p>
<p>尊重音乐版权一直是我们X Music努力去实现的。</p>
<p>除了音乐版权之前，X Music还致力于为网页用户提供更为人性化的体验，沉浸式的音乐播放
画面，让你身临其境。</p>
<p>人性化是我们的一大特点之外，X Music还一直联系与独立音乐人深度合作。</p>
<p>作为新兴的音乐网站，X Music将会不遗余力地努力给用户带来更好的体验，更纯粹的音乐。</p>
</font>
</center>
</div>


<br />
<br />
<br />
<br />
<br />

<table align="center" width="30%" border="0"  cellpadding="0">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

</body>
</html>