<!DOCTYPE html>
<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  {% block head %}{% endblock %}
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>

  <script src="{{url_for('static', filename='jquery/jquery-3.6.2.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/register.js')}}"></script>
</head>

<body bgcolor="#000000" text="#FFFFFF" >

<div class="container-fluid">
<div class= "tm-content col-xl-12 col-sm-12 col-xs-12 ml-auto section" >
<table width="100%" border="0"  cellpadding="0">
<tr>
<td align="left" width="300"><h1 align="center"><a href="http://127.0.0.1:5000/admin/login"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href={{url_for('music.index')}}><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href={{url_for('music.chart')}}><font color="#FFFFFF" face="黑体" size="4">榜单</font></a></td>
<td align="right"><a href={{url_for('operate.search')}}><font color="#FFFFFF" face="黑体" size="4">搜索</font></a></td>
  {% if user %}<!-- 有用户显示下面 ,个人中心要给视图函数传参-->
    <td align="right" ><a href={{url_for('auth.personal',user_id=user.UserID)}}><font color="#FFFFFF" face="黑体" size="4">{{user.UserName}}个人中心</font></a></td><!-- 无连接用span标签 -->
    <td align="right"><a href={{url_for('auth.logout')}}><font color="#FFFFFF" face="黑体" size="4">退出登录</font></a></td></tr>
  {% else %}<!-- 没有户显示下面 -->
  <td align="right"><a href={{url_for('auth.login')}}><font color="#FFFFFF" face="黑体" size="4">登录</font></a></td>
  <td align="right"><a href={{url_for('auth.register')}}><font color="#FFFFFF" face="黑体" size="4">注册</font></a></td></tr>
  {% endif %}
</table>
<hr width="100%" size="5" color="#FF0000" noshade="noshade">
</div>
</div>
{% block body %}{% endblock %}

<br />

<div class="container-fluid">
<div class= "tm-content col-xl-12 col-sm-12 col-xs-12 ml-auto section" >
<table align="center" width="30%" border="0"  cellpadding="0">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="#"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>
</div>
</div>

</body>

{% block link %}{% endblock %}
</html>
