{% extends "base.html" %}

{% block head %}
<style>
	body {
		height: 2000px;
	}

	.rTop {
		width: 100px;
		height: 25px;
		text-align: center;
		font-size: small;
		line-height: 25px;
		border: 1px solid #999;
		position: fixed;
		right: 0;
		bottom: 0;
		border-bottom-color: #FF0000;
		border-top-color: #FF0000;
		border-left-color: #FF0000;
		border-right-color: #FF0000;
		margin: 5px;
		cursor: pointer;
		display: none
	}
</style>
<script>
	// <!--拖动滚动条或滚动鼠标轮-->
	window.onscroll = function () {
		if (document.body.scrollTop || document.documentElement.scrollTop > 0) {
			document.getElementById('rTop').style.display = "block"
		} else {
			document.getElementById('rTop').style.display = "none"
		}
	}
	// <!--点击“回到顶部”按钮-->
	function toTop() {
		window.scrollTo('0', '0');
		document.getElementById('rTop').style.display = "none"
	}
</script>
{% endblock %}


{% block body %}
<div class="rTop" id="rTop" onClick="toTop()">
	<font color="#FFFFFF"><b>↑↑↑返回顶部</b></font>
</div>

<div style="border: 1px solid #000000; width: 980px; margin: 0 auto;">
	<table width="100%" border="0" cellpadding="6" cellspacing="6">



		<div style="border: 1px solid #000000; width: 980px; margin: 0 auto;">
			<table width="100%" border="0" cellpadding="6" cellspacing="6">
				<tr>
					{% for chart_type, music_info_list in chart_music_dict.items() %}
					<td>
						<table border="0" cellpadding="5">
							<tr align="center" bgcolor="#DC143C">
								<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
								<th>
									<p>
										<font color="#DC143C" face="微软雅黑" size="10">X</font>
									</p><a href="index">
										<font color="#FFFFFF" face="等线" size="8"><b>{{ chart_type }}>></b></font>
									</a>
									<p>
										<font color="#DC143C" face="微软雅黑" size="10">X</font>
									</p>
								</th>
								<br />
							</tr>
							{% for music_info in music_info_list %}
							<tr>
								<td>
									<font color="#DC143C" face="等线" size="6"><b>{{ music_info.MusicRank }}</b></font><a href="single">
										<font color="#FFFFFF" face="等线" size="4">{{ music_info.MusicName }}</font>
									</a>
									<p><a href="singer">
											<font color="#A9A9A9" face="微软雅黑" size="2">{{ music_info.Singer }}</font>
										</a></p>
								</td>
							</tr>
							{% endfor %}
							<tr align="right">
								<td>
									<font color="#A9A9A9" face="等线" size="2"></font>
								</td>
							</tr>
						</table>
					</td>
					{% endfor %}
				</tr>

		</tr>
		<style type="text/css">
			table {
				border-collapse: collapse;
				border: solid 1px Black;
			}

			table td {
				width: 270px;
				height: 30px;
				border: solid 1px Black;
				padding: 5px;
			}
		</style>
	</table>

	<br />
	<br />

</div>
{% endblock %}