<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>



<style>
body{
height:2000px;
}
.rTop{
width:100px; height:25px;
text-align:center; font-size:small;
line-height:25px; border:1px solid #999;
position:fixed; right:0; bottom:0;
border-bottom-color:#FF0000; 
border-top-color:#FF0000; 
border-left-color:#FF0000; 
border-right-color:#FF0000; margin:5px;
cursor:pointer; display:none
}
</style>
<script>
<!--拖动滚动条或滚动鼠标轮-->
window.onscroll=function(){
if(document.body.scrollTop||document.documentElement.scrollTop>0){
document.getElementById('rTop').style.display="block"
}else{
document.getElementById('rTop').style.display="none"
}
}
<!--点击“回到顶部”按钮-->
function toTop(){
window.scrollTo('0','0');
document.getElementById('rTop').style.display="none"
}
</script>

</head>

<body bgcolor="#000000" text="#FFFFFF" >
<div class="rTop" id="rTop" onClick="toTop()"><font color="#FFFFFF"><b>↑↑↑返回顶部</b></font></div>
<table width="100%" border="0"  cellpadding="0" height="77">
<tr>
<td align="left" width="300"><h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href="account.html"><font color="#FFFFFF" face="黑体" size="4">我的</font></a></td>
<td align="right"><a href="discovery.html"><font color="#FFFFFF" face="黑体" size="4">推荐</font></a></td>
<td align="right"><a href="library.html"><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href="news.html"><font color="#FFFFFF" face="黑体" size="4">看点</font></a></td>
<td align="right"><a href="chart.html"><font color="#FFFFFF" face="黑体" size="6"><b>排行</b></font></a></td>
<td align="right"><a href="mv.html"><font color="#FFFFFF" face="黑体" size="4">视频</font></a></td>
<td align="right"><a href="search.html"><font color="#FFFFFF" face="黑体" size="4">搜索</font></a></td>
<td align="right"><a href="single.html"><font color="#FFFFFF" face="黑体" size="4">立刻听歌</font></a></td></tr>
</table>
<hr width="100%" size="3" color="#FF0000" noshade="noshade">


<div style="border: 1px solid #000000; width: 980px; margin: 0 auto;">
<table width="100%" border="0"  cellpadding="6" cellspacing="6">

<tr>
	<td>
		<table border="0"  cellpadding="5">
			<tr align="center" bgcolor="#DC143C">
				<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
				<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="index.html"><font color="#FFFFFF" face="等线" size="8"><b>热歌榜>></b></font></a>
				<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
				</th>
				<br />
			</tr>
			<tr>
				<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陷阱</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">王北车</font></a></p></td>			   
			</tr>                                     
			<tr>                                      
				<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">那是你离开了北京的生活</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">薛之谦</font></a></p></td>				
			</tr>                                      
			<tr>                                       
				<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">孩子(DEMO)</font><font color="#A9A9A9" face="等线" size="3">（你还在我身旁）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">西楼</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">想把你留在这里</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a>
				<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
				<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Tizzy T</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">不用去猜</font><font color="#A9A9A9" face="等线" size="3">（最初版）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a></p></td>
			</tr>
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">FAKE LOVE</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS(防弹少年团)</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">于是我不再唱歌</font><font color="#A9A9A9" face="等线" size="3">（Live版）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">旅行团乐队</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">越过那道起跑线</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">郭思达</font></a></p></td>
			</tr> 
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">Mystery Of Love</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Sufjan Stevens</font></a></p></td>
			</tr> 
			<tr align="right">                                       
			<td><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
			</tr>
		</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>新歌榜>></b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
					<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">张家明和婉君</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">1999</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Charli XCX</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Troye Sivan</font></p></td>
							
		</tr>                                      
		<tr>                                       
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">삐삐</font><font color="#A9A9A9" face="等线" size="3">（BBIBBI）</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">IU</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">给妈妈</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">房东的猫</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">LUCKY CHANCES</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">KSHMR</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张杰</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Bali Bandits</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">关于我爱你</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张悬</font></a></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">水滴石穿 (Live)</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">那吾克热LIL-EM</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">风衣</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">孙燕姿</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">IDOL (feat. Nicki Minaj)</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS (防弹少年团)</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Nicki Minaj</font></a></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">言不由衷</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">徐佳莹</font></a></p></td>
		</tr>
		<tr align="right">                                       
			<td><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>		
	</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>歌手榜>></b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
		<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">周杰伦</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤❤</font></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陈奕迅</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>	
		</tr>                                      
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">林俊杰</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">薛之谦</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓2 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陈粒</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">特洛伊.希文</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑3 ❤❤❤❤</font></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">泰勒.斯威夫特</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑1 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">梁博</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">林宥嘉</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">防弹少年团</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓5 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr align="right">                                       
			<td><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>
	</table>
	</td>
</tr>


<tr>
	<td>
		<table border="0"  cellpadding="5">
			<tr align="center" bgcolor="#DC143C">
				<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
				<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>Billboard榜</b></font></a>
				<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
				</th>
				<br />
			</tr>
			<tr>
				<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陷阱</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">王北车</font></a></p></td>			   
			</tr>                                     
			<tr>                                      
				<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">那是你离开了北京的生活</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">薛之谦</font></a></p></td>				
			</tr>                                      
			<tr>                                       
				<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">孩子(DEMO)</font><font color="#A9A9A9" face="等线" size="3">（你还在我身旁）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">西楼</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">想把你留在这里</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a>
				<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
				<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Tizzy T</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">不用去猜</font><font color="#A9A9A9" face="等线" size="3">（最初版）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a></p></td>
			</tr>
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">FAKE LOVE</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS(防弹少年团)</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">于是我不再唱歌</font><font color="#A9A9A9" face="等线" size="3">（Live版）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">旅行团乐队</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">越过那道起跑线</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">郭思达</font></a></p></td>
			</tr> 
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">Mystery Of Love</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Sufjan Stevens</font></a></p></td>
			</tr> 
			<tr>                                       
			<td align="right"><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
			</tr>
		</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>原创榜</b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
					<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">张家明和婉君</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">1999</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Charli XCX</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Troye Sivan</font></p></td>
							
		</tr>                                      
		<tr>                                       
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">삐삐</font><font color="#A9A9A9" face="等线" size="3">（BBIBBI）</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">IU</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">给妈妈</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">房东的猫</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">LUCKY CHANCES</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">KSHMR</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张杰</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Bali Bandits</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">关于我爱你</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张悬</font></a></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">水滴石穿 (Live)</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">那吾克热LIL-EM</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">风衣</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">孙燕姿</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">IDOL (feat. Nicki Minaj)</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS (防弹少年团)</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Nicki Minaj</font></a></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">言不由衷</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">徐佳莹</font></a></p></td>
		</tr>
		<tr align="right">                                       
			<td><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>		
	</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>独立音乐人榜</b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
		<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">周杰伦</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤❤</font></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陈奕迅</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>	
		</tr>                                      
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">林俊杰</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">薛之谦</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓2 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陈粒</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">特洛伊.希文</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑3 ❤❤❤❤</font></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">泰勒.斯威夫特</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑1 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">梁博</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">林宥嘉</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">防弹少年团</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓5 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr align="right">                                       
			<td><a href="solochart.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>
	</table>
	</td>
</tr>

<tr>
	<td>
		<table border="0"  cellpadding="5">
			<tr align="center" bgcolor="#DC143C">
				<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
				<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>付费榜</b></font></a>
				<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
				</th>
				<br />
			</tr>
			<tr>
				<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">陷阱</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">王北车</font></a></p></td>			   
			</tr>                                     
			<tr>                                      
				<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">那是你离开了北京的生活</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">薛之谦</font></a></p></td>				
			</tr>                                      
			<tr>                                       
				<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">孩子(DEMO)</font><font color="#A9A9A9" face="等线" size="3">（你还在我身旁）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">西楼</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">想把你留在这里</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a>
				<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
				<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Tizzy T</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">不用去猜</font><font color="#A9A9A9" face="等线" size="3">（最初版）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a></p></td>
			</tr>
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">FAKE LOVE</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS(防弹少年团)</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">于是我不再唱歌</font><font color="#A9A9A9" face="等线" size="3">（Live版）</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">旅行团乐队</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">越过那道起跑线</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">郭思达</font></a></p></td>
			</tr> 
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">Mystery Of Love</font></a>
				<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Sufjan Stevens</font></a></p></td>
			</tr> 
			<tr align="right">                                       
			<td><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
			</tr>
		</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="single.html"><font color="#FFFFFF" face="等线" size="8"><b>中文榜</b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
					<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">张家明和婉君</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">1999</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Charli XCX</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Troye Sivan</font></p></td>
							
		</tr>                                      
		<tr>                                       
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">삐삐</font><font color="#A9A9A9" face="等线" size="3">（BBIBBI）</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">IU</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">给妈妈</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">房东的猫</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">LUCKY CHANCES</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">KSHMR</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张杰</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Bali Bandits</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">关于我爱你</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张悬</font></a></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">水滴石穿 (Live)</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">那吾克热LIL-EM</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">风衣</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">孙燕姿</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">IDOL (feat. Nicki Minaj)</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS (防弹少年团)</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Nicki Minaj</font></a></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="single.html"><font color="#FFFFFF" face="等线" size="4">言不由衷</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">徐佳莹</font></a></p></td>
		</tr>
		<tr align="right">                                       
			<td><a href="single.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>		
	</table>
	</td>
	
</tr>
<style type="text/css">
    table{ border-collapse:collapse; border:solid 1px Black; }
    table td{ width:270px; height:30px;  border:solid 1px Black; padding:5px;}
</style>
</table>
		


<br />
<br />


</div>

<table align="center" width="30%" border="0"  cellpadding="0" style="margin:auto">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

</body>

</html>

