<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="../static/css/demo.css">
<link rel="stylesheet" href="../static/css/app.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="../static/css/carousel.css">
	<style type="text/css">
		.caroursel{margin:150px auto;}
		body{background-color: #000000;}
	</style>
	
	
	
	
	
	
	
	
	
	
	

<meta http-equiv="Content-Type" content="text/html;charset=utf-8">





<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>

<style>
body{
height:2000px;
}
.rTop{
width:100px; height:25px;
text-align:center; font-size:small;
line-height:25px; border:1px solid #999;
position:fixed; right:0; bottom:0;
border-bottom-color:#FF0000; 
border-top-color:#FF0000; 
border-left-color:#FF0000; 
border-right-color:#FF0000; margin:5px;
cursor:pointer; display:none
}
</style>
<script>
<!--拖动滚动条或滚动鼠标轮-->
window.onscroll=function(){
if(document.body.scrollTop||document.documentElement.scrollTop>0){
document.getElementById('rTop').style.display="block"
}else{
document.getElementById('rTop').style.display="none"
}
}
<!--点击“回到顶部”按钮-->
function toTop(){
window.scrollTo('0','0');
document.getElementById('rTop').style.display="none"
}
</script>

</head>



<body bgcolor="#000000" text="#FFFFFF" >
<div class="rTop" id="rTop" onClick="toTop()"><font color="#FFFFFF"><b>↑↑↑返回顶部</b></font></div>



<table width="100%" border="0"  cellpadding="0" height="77">
<tr>
<td align="left" width="300"><h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href="account.html"><font color="#FFFFFF" face="黑体" size="4">我的</font></a></td>
<td align="right"><a href="discovery.html"><font color="#FFFFFF" face="黑体" size="6">推荐</font></a></td>
<td align="right"><a href="library.html"><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href="news.html"><font color="#FFFFFF" face="黑体" size="4">看点</font></a></td>
<td align="right"><a href="chart.html"><font color="#FFFFFF" face="黑体" size="4">排行</font></a></td>
<td align="right"><a href="mv.html"><font color="#FFFFFF" face="黑体" size="4">视频</font></a></td>
<td align="right"><a href="search.html"><font color="#FFFFFF" face="黑体" size="4">搜索</font></a></td>
<td align="right"><a href="single.html"><font color="#FFFFFF" face="黑体" size="4">立刻听歌</font></a></td></tr>
</table>
<hr width="100%" size="3" color="#FF0000" noshade="noshade">









<article class="jq22-container">
<div class="slider">

	<div class="slider-img">
		<ul class="slider-img-ul">
			<li><a href="single.html"><img src="../static/images/T2.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/T2.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/T1.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/T6.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/TT4.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/TT1.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/d1.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/TT2.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/TT3.jpg"></a></li>
			<li><a href="single.html"><img src="../static/images/TT3.jpg"></a></li>
		</ul>
	</div>

</div>

</article>
<script src="../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/xSlider.js"></script>

<br />
<br />

<div style="border: 1px solid #000000; width: 980px; margin: 0 auto;">		
<h1 align="left"><a href="library.html"><font color="#FFFFFF" face="微软雅黑" size="3"><b>推荐音乐>></b></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">
<br />

<table  width="100%" border="0" align="center" cellpadding="0" style="font_size:16px" color="#FFFFFF">
<tr>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180929000042.jpg" height="200" width="200" /></a></td>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180929000038.jpg" height="200" width="200" /></a></td>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180929000034.jpg" height="200" width="200" /></a></td>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180928235812.jpg" height="200" width="200" /></a></td>
</tr>

<tr>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">歌单</font></a></td>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">歌单</font></a></td>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">歌单</font></a></td>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">歌单</font></a></td>
</tr>

<tr>
<td><a href="mix.html"><font color="#D0D0D0" face="等线" >一周 VIP专享 音乐</font></a></td>
<td><a href="mix.html"><font color="#D0D0D0" face="等线">霉霉 经典永远不灭</font></a></td>
<td><a href="mix.html"><font color="#D0D0D0" face="等线">华语 独立音乐人合辑</font></a></td>
<td><a href="mix.html"><font color="#D0D0D0" face="等线">K-pop 无法忽略的狙击</font></a></td>
</tr>
<br />
</table>

<br />
<table  width="100%" border="0" align="center" cellpadding="0" style="font_size:16px" color="#FFFFFF">
<tr>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180929000030.jpg" height="200" width="200" /></a></td>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180928235828.jpg" height="200" width="200" /></a></td>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180928235825.jpg" height="200" width="200" /></a></td>
	<td><a href="mix.html"><img src="../static/images/微信图片_20180928235749.jpg" height="200" width="200" /></a></td>
</tr>
<tr>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">歌单</font></a></td>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">歌单</font></a></td>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">付费</font></a></td>
<td><a href="mix.html"><font color="#6C6C6C" face="微软雅黑"size="2">电台</font></a></td>
</tr>

<tr>
<td><a href="mix.html"><font color="#D0D0D0" face="等线" >台湾KKBOX每周一联合推出</font></a></td>
<td><a href="mix.html"><font color="#D0D0D0" face="等线">你不能错过的王嘉尔</font></a></td>
<td><a href="mix.html"><font color="#D0D0D0" face="等线">大家好 我是Troye Sivan</font></a></td>
<td><a href="mix.html"><font color="#D0D0D0" face="等线">你正在坠落吗</font></a></td>
</tr>
<br />
</table>



<br />
<br />
<br />
<br />
<h1 align="left"><a href="mv.html"><font color="#FFFFFF" face="微软雅黑" size="3"><b>音乐视频>></b></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">
<br />


<table  width="100%" border="0" align="center" cellpadding="0" style="font_size:16px" color="#FFFFFF">
<tr>
	<td><a href="video.html"><img src="../static/images/p2398190969.jpg" height="250" width="400" /></a></td>
	<td><a href="video.html"><img src="../static/images/p2522750015.jpg" height="250" width="400" /></a></td>

</tr>

<tr>
<td><a href="video.html"><font color="#6C6C6C" face="微软雅黑"size="2">MV</font></a></td>
<td><a href="video.html"><font color="#6C6C6C" face="微软雅黑"size="2">VLOG</font></a></td>
</tr>

<tr>
<td><a href="video.html"><font color="#D0D0D0" face="等线" >幻乐之城，一场爱情与音乐的美好</font></a></td>
<td><a href="video.html"><font color="#D0D0D0" face="等线">独家揭秘那些年mv拍摄故事</font></a></td>
</tr>
<br />
</table>

<br />
<table  width="100%" border="0" align="center" cellpadding="0" style="font_size:16px" color="#FFFFFF">
<tr>
	<td><a href="video.html"><img src="../static/images/wesley-tingey-223059-unsplash.jpg" height="250" width="400" /></a></td>
	<td><a href="video.html"><img src="../static/images/p2189993582.jpg" height="250" width="400" /></a></td>

</tr>

<tr>
<td><a href="video.html"><font color="#6C6C6C" face="微软雅黑"size="2">直播</font></a></td>
<td><a href="video.html"><font color="#6C6C6C" face="微软雅黑"size="2">采访</font></a></td>
</tr>

<tr>
<td><a href="video.html"><font color="#D0D0D0" face="等线" >直击酷玩乐队，马拉红北美最强音乐节</font></a></td>
<td><a href="video.html"><font color="#D0D0D0" face="等线">Owl City：我还是那个猫头鹰还是你们Enchanted</font></a></td>
</tr>
<br />
</table>


<br />
<br />
<br />
<br />
<h1 align="left"><a href="news.html"><font color="#FFFFFF" face="微软雅黑" size="3"><b>音乐看点>></b></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">
<br />
<P><a href="event.html"><IMG height=350 src="../static/images/9c57ecfdgy1fvbloix7u4j22bc1jke82.jpg" width=600 align=left border=0></a><font size="4" color="#D0D0D0" face="等线">
<p>2018-10-11</p>
<p><font size="5">于是我不再唱歌</font></p>
<p><font color="#4F4F4F" size="3">”我是顾森西，西是太阳从西边升起来的西！也是影视乐三栖的西!“</font></p>
<br />
<p>曾经十几二十来岁那些忘不掉的时光，热烈，飘荡而充满渴望，每一刻都是光泽无比的华年。
经年过往之后我们的肉体正在悄悄地老去，生活的枷锁却越来越多， 而那个仍然不安的灵魂将何处安放？
我们一直试图寻找答案，渐渐地才发现原来答案就在每时每刻的生活里。生活汇聚成音符，音符承载情感，于是有了这张专辑。<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=left></P>
<br/>
<br/>
<br/>



<P><a href="event.html"><IMG height=350 src="../static/images/p2189993451.jpg" width=600 align=right border=0></a><font size="4" color="#D0D0D0" face="等线">
<p>2018-11-11</p>
<p><font size="5">耗尽，勾勒灵魂的伤口</font></p>
<p><font color="#4F4F4F" size="3">”雾虹是一种很罕见的彩虹，彩虹是七彩，雾虹只有白色，特别美丽且独一无二。“</font></p>
<br />
<p>在耗尽了一切的气力之后
终究还是回到了那里。
抽着烟，吐口气。
不要怀疑，我们还是站在这里。
看着那艳红的夕阳就随着时间落下，
在贫穷的浪漫之中，享受着那缓慢的浪潮推向了你们。</p>
<p>这是送给每一个人忽略的灵魂深处的礼物。
愿你还有一个私密的角落，还拥有一件值得沉溺的人或事，让它们成为你继续活下去的理由。
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=right></P>
<br/>





<br />
<br />
<h1 align="left"><a href="chart.html"><font color="#FFFFFF" face="微软雅黑" size="3"><b>排行榜单>></b></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">
<br />





 
<table width="100%" border="0"  cellpadding="6" cellspacing="6">

<tr>
	<td>
		<table border="0"  cellpadding="5">
			<tr align="center" bgcolor="#DC143C">
				<!--<img src="../static/images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
				<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="chart.html"><font color="#FFFFFF" face="等线" size="8"><b>热歌榜>></b></font></a>
				<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
				</th>
				<br />
			</tr>
			<tr>
				<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">陷阱</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">王北车</font></a></p></td>			   
			</tr>                                     
			<tr>                                      
				<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">那是你离开了北京的生活</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">薛之谦</font></a></p></td>				
			</tr>                                      
			<tr>                                       
				<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">孩子(DEMO)</font><font color="#A9A9A9" face="等线" size="3">（你还在我身旁）</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">西楼</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">想把你留在这里</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a>
				<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
				<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Tizzy T</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">不用去猜</font><font color="#A9A9A9" face="等线" size="3">（最初版）</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a></p></td>
			</tr>
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">FAKE LOVE</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS(防弹少年团)</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">于是我不再唱歌</font><font color="#A9A9A9" face="等线" size="3">（Live版）</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">旅行团乐队</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">越过那道起跑线</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">郭思达</font></a></p></td>
			</tr> 
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">Mystery Of Love</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Sufjan Stevens</font></a></p></td>
			</tr> 
			<tr align="right">                                       
			<td><a href="chart.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
			</tr>
		</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="../static/images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="chart.html"><font color="#FFFFFF" face="等线" size="8"><b>新歌榜>></b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
					<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">张家明和婉君</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">1999</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Charli XCX</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Troye Sivan</font></p></td>
							
		</tr>                                      
		<tr>                                       
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">삐삐</font><font color="#A9A9A9" face="等线" size="3">（BBIBBI）</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">IU</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">给妈妈</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">房东的猫</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">LUCKY CHANCES</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">KSHMR</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">张杰</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Bali Bandits</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">关于我爱你</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">张悬</font></a></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">水滴石穿 (Live)</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">那吾克热LIL-EM</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">风衣</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">孙燕姿</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">IDOL (feat. Nicki Minaj)</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS (防弹少年团)</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Nicki Minaj</font></a></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">言不由衷</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">徐佳莹</font></a></p></td>
		</tr>
		<tr align="right">                                       
			<td><a href="chart.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>		
	</table>
	</td>
	
	<td>
	<table border="0"  cellpadding="5">
		<tr align="center" bgcolor="#DC143C">
			<!--<img src="../static/images/微信图片_20180928235812.jpg" alt="HOT" width="250" height="250"></p>-->
			<th><p><font color="#DC143C" face="微软雅黑"size="10">X</font></p><a href="chart.html"><font color="#FFFFFF" face="等线" size="8"><b>歌手榜>></b></font></a>
			<p><font color="#DC143C" face="微软雅黑"size="10">X</font></p>
			</th>
			<br />
		</tr>
		<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">周杰伦</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤❤</font></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">陈奕迅</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>	
		</tr>                                      
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">林俊杰</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">薛之谦</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓2 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">陈粒</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">特洛伊.希文</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑3 ❤❤❤❤</font></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">泰勒.斯威夫特</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑1 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">梁博</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">林宥嘉</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">防弹少年团</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓5 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr align="right">                                       
			<td><a href="chart.html"><font color="#A9A9A9" face="等线" size="2">查看更多</font></a></td>
		</tr>
	</table>
	</td>
</tr>
<style type="text/css">
    table{ border-collapse:collapse; border:solid 1px Black; }
    table td{ width:270px; height:30px;  border:solid 1px Black; padding:5px;}
</style>
</table>
		





</div>












<!-- <a href="#">返回顶部</a> -->


<br />
<br />
<br />
<br />
<br />
<br />
<table  width="30%" border="0"  cellpadding="0" style="margin:auto;">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(233333333)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

</body>

</html>

