<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>
<SCRIPT>
    function isHidden(oDiv){
      var vDiv = document.getElementById(oDiv);
      vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
    }
</SCRIPT>

<script type="text/javascript">
function saveStorage(id)
{
	var data = document.getElementById(id).value;
	if(data.value != " ")
	{
    var time = new Date().getTime();
    localStorage.setItem(time,data);
    alert("❤❤❤评论成功❤❤❤");
    loadStorage('msg');
	}
	else
	{
	alert("！！！请输入您对于这首歌的评论！！！");
	}
}
function loadStorage(id)
{
    var result = '<table border="0">';
    for(var i = 0;i < localStorage.length;i++)
    {
        var key = localStorage.key(i);
        var value = localStorage.getItem(key);
        var date = new Date();
        date.setTime(key);
        var datestr = date.toGMTString();
        result += '<tr><td>' + value + '</td><td>' + datestr + '</td></tr>';
    }
    result += '</table>';
    var target = document.getElementById(id);
    target.innerHTML = result;
}
function clearStorage()
{
 if(localStorage.length > 0)
    {
    if(window.confirm("重置评论后不可恢复，是否确认删除我的当前的评论？"))
    {
    localStorage.clear();
    alert("您的当前评论已删除");
    loadStorage('msg');
    }
    }
    else
    {
        alert("没有需要删除的评论！期待您的评论！");
    }
	
    
}
</script>

<style>
body{
height:1000px;
}
.rTop{
width:100px; height:25px;
text-align:center; font-size:small;
line-height:25px; border:1px solid #999;
position:fixed; right:0; bottom:0;
border-bottom-color:#FF0000; 
border-top-color:#FF0000; 
border-left-color:#FF0000; 
border-right-color:#FF0000; margin:5px;
cursor:pointer; display:none
}
</style>
<style>
button{border:0px;background-color:transparent;}
</style>
<style>
audio{

width:1000px;
}
</style>

<style>
video{
height:600px;
width:1000px;
}
</style>


<script>
<!--拖动滚动条或滚动鼠标轮-->
window.onscroll=function(){
if(document.body.scrollTop||document.documentElement.scrollTop>0){
document.getElementById('rTop').style.display="block"
}else{
document.getElementById('rTop').style.display="none"
}
}
<!--点击“回到顶部”按钮-->
function toTop(){
window.scrollTo('0','0');
document.getElementById('rTop').style.display="none"
}
</script>

</head>

<body style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;" background="../static/images/new2 (2).png" bgproperties="fixed" bgcolor="#000000" text="#FFFFFF" >
<div class="rTop" id="rTop" onClick="toTop()"><font color="#FFFFFF"><b>↑↑↑返回顶部</b></font></div>

<table width="100%" border="0"  cellpadding="0" height="77">
<tr>
<td align="left" width="300"><h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href="account.html"><font color="#FFFFFF" face="黑体" size="4">我的</font></a></td>
<td align="right"><a href="discovery.html"><font color="#FFFFFF" face="黑体" size="4">推荐</font></a></td>
<td align="right"><a href="library.html"><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href="news.html"><font color="#FFFFFF" face="黑体" size="4"><b>看点</b></font></a></td>
<td align="right"><a href="chart.html"><font color="#FFFFFF" face="黑体" size="4">排行</font></a></td>
<td align="right"><a href="mv.html"><font color="#FFFFFF" face="黑体" size="4">视频</font></a></td>
<td align="right"><a href="search.html"><font color="#FFFFFF" face="黑体" size="4">搜索</font></a></td>
<td align="right"><a href="single.html"><font color="#FFFFFF" face="黑体" size="4">立刻听歌</font></a></td>
</tr>
</table>

<hr width="100%" size="3" color="#FF0000" noshade="noshade">

<br />
<br />
<br />





<div style="border: 0px solid #000000; width: 1000px; margin: 0 auto;">
<h1 align="left"><a href=" "><font color="#FFFFFF" face="微软雅黑" size="8"><b>他跟我聊到樱桃树、灰尘以及一座山</b></font></a>
&nbsp;
<br />

<div>
<img src="../static/images/new2.png" width="1000px" height="430">
</div>

<br />

<table cellspacing="7" cellpadding="15" border="7px" bordercolor="#FFFFFF">

<tr>

	<td><a href=" "><font color="#FFFFFF">收藏文章♥</font></a></td>
	<td><a href="#包含音乐"><font color="#FFFFFF">包含音乐▶</font></a></td>
	<td><a href="#相关阅读"><font color="#FFFFFF">相关阅读✈</font></a></td>
	<td><a href="#该作者更多"><font color="#FFFFFF">该作者更多▦</font></a></td>
	<td><a href="#查看评论"><font color="#FFFFFF">查看评论▶</font></a></td>


</table>
<br />
<div>
	<style>
		*{
			margin: 2;
			padding: 2;
		}
		.left,.right{
			
			border:0px solid #dcdcdc;
			padding: 7px;
		}
		.left{
			width: 60%;
			float: left;
		}
		.right{
			width: 30%;
			float: right;
			
		}

		
	</style>
<div class="left">
<p>&nbsp;<font color="##A8A8A8" size="3">“我只愿中国的少年只是向上走，不必理会这冷笑和暗箭。”</font></p>
<pre>
<p style="margin=10px;cellpadding=10px">&nbsp;&nbsp;&nbsp;<font color="#DCDCDC" face="等线" size="4">
易烊千玺在雅加达参加亚运会闭幕式的时候接受了红秀杂志的专访：
每个人都挺深的，只要你慢慢去找自己。
我这人，对别人基本没什么好奇，自己想什么样就什么样。
现在稍微入门了一点点，其实挺喜欢探索状态。

就是桥洞底下会有的，支一个摊儿，
打扮得特别邋遢，没人认得出我，坐在那给别人修鞋，
去上门开锁，就是这种的。
都是三分钟热度，但就这三分钟热度，
我也想去学一学。
我会想很多东西， 各种想，
想着想着自己都忘了，就乱了，就会烦躁，
又得重新整理。所以特别想放空。
我已经三年没有同学了，身边都是初中朋友。
我喜欢集体生活，但我不会太参与进去，
因为我的性格不是那么爱热闹，
但我心里喜欢跟大家一起学习一起玩。
多多少少感觉到了(影响)。
说到这个又痞又野的新角色，
他说，找他的状态时的确比较容易找得到，
可能也因为戏里都是真打。不像古装戏是耍招式。
我觉得自己身上有这样的因子。但其实我生活里不太会像他那样外露。
因为注意各方面细节，整个人就会不自觉地很紧张。
其实正常的一个人，是什么状态就是什么状态，
不会自己去想五官啊手脚怎么怎么，反面演的时候会过头。
他又说，我都不知道我是什么戏路的，反正就演。</font></p>
</pre>

<div>
<img src="../static/images/new2.png" width="500px" height="220">
</div>


<p style="margin=10px;cellpadding=10px">&nbsp;&nbsp;&nbsp;<font color="#DCDCDC" face="等线" size="4">
之前采访中你说希望你的世界是有人的，反过来问这个问题，
如果世界上所有人实然间得了种疯狂的“病”，只有你一个人头脑清醒， 你会怎么办?Y (易烊千玺) ：我会想看看原本在我世界里那个人，
他现在是什么样了，而我可能会继续保持清醒下去。</font></p>

<pre>

</pre>

<p style="margin=10px;cellpadding=10px">&nbsp;&nbsp;&nbsp;<font color="#DCDCDC" face="等线" size="4">
G:会不会去唤醒别人，把别人拉回到正轨?Y:如果别人都变了的话，
你也不知道正轨到底是谁那一方。你觉得自己是正轨，那其实世界的正轨可能已经在他们那边了。
能拉的话，我肯定会拉他们。但如果他们那样是美好的，我觉得也无妨。</font></p>

<pre>

</pre>

<p style="margin=10px;cellpadding=10px">&nbsp;&nbsp;&nbsp;<font color="#DCDCDC" face="等线" size="4">
G:现在再给你杯水，喝下之后就会和他们样，但也不再清醒，
你会喝这个水吗?Y:如果喝了之后，能融人他们，我也不感觉痛苦，就喝吧
。G：现在工作都是操控在你的手里的是吗?Y :可以这么说，都是我自己选的G:
你觉得自己是高级脸吗?Y ：还好吧。G:害怕被捧杀?Y :我不太看别人对我的评论。
G:你觉得这是正确的方法吗?Y :这是适合我的方法，我也不会刻意屏蔽自己的消息，
还是和大多数人一样与外界沟通，保持着和自己同步。</font></p>

<pre>

</pre>

<div>
<img src="../static/images/9c57ecfdgy1fvbloix7u4j22bc1jke82.jpg" width="500px" height="320">
</div>


<pre>

</pre>

<p style="margin=10px;cellpadding=10px">&nbsp;&nbsp;&nbsp;<font color="#DCDCDC" face="等线" size="4">
G :想过逃离采访吗?Y :还好，没有。采访就是种交流形式吧。G:《少年的你》的原著里对北野的描述，有句“这是他想要保护，别人说不得一句不好的东西”。
你心中有这样的存在吗?Y：没有。G:最后一个问题， 有粉丝说能多吃点肉吗?太瘦了。Y:可以。G:这么乖巧的回答?是因为电影才瘦的吧?Y :对，这个角色不能太壮。
其实我不太容易增肥，不太容易减肥。这两年正常吃正常工作，一直都110,没上也没下。
不能说自己多满意，就正常，该怎么样就怎么样。
G:还希望可以更有肌肉线条一些?Y :我自己不太会希望更有肌肉了，因为我本身懒，
但这部戏有要求，是有练了一点点。</font></p>

</div>

<div class="right">
<p><font color="#FFFFFF" face="微软雅黑" size="5"><b>易烊千玺简介</b>                                </font>
<hr size="1">
<p>&nbsp;&nbsp;&nbsp;<font color="#FFFFFF" face="微软雅黑" size="2">
李荣浩，1985年7月11日生于蚌埠，中国流行音乐制作人、歌手、吉他手。
曾为众多艺人创作歌曲以及担任制作人，也曾为多部电影与多款电子游戏制作音乐。2013年9月17日发行个人首张原创专辑《模特》，
凭借这张专辑入围第25届金曲奖最佳国语男歌手奖、最佳新人奖、最佳专辑制作人、最佳国语专辑、最佳作词奖等五项大奖提名，成为最大黑马，实现了从制作人到歌手的华丽转身。</font></p>
&nbsp;<p><font color="#FFFFFF" face="微软雅黑" size="3"><b>人生经历</b></p>  
<p>&nbsp;&nbsp;&nbsp;<font color="#FFFFFF" face="微软雅黑" size="2">从小自学吉他和低音提琴，后师从低音提琴演奏家尹富源教授。
2004年接受音乐杂志《吉他平方》专访并发表单曲《烦》，同年与乐队合作获得江苏省第五届流行音乐大赛一等奖。
2005年接受音乐杂志《现代乐手》专访并发表单曲《DREAM》，同年9月担任《我的音乐梦想》系列吉他丛书主编，后正式成为吉他中国乐手。
2005年签约日本艾回唱片，成为其台湾地区独家创作艺人。
2007年，李荣浩赴台湾参与制作信专辑《我就是我》，并担任其“2008我就是我·北京演唱会”的表演嘉宾。
2008年参与制作赵薇专辑《我们都是大导演》，并担任发布会表演嘉宾；同年担任陈坤专辑《谜&Me》的专辑制作人。</font></p>
<!--<div id="target3" hidden="true" style="display:none">-->
<p>&nbsp;&nbsp;&nbsp;<font color="#FFFFFF" face="微软雅黑" size="2">
2010年2月4日，担任陈坤首场演唱会《谜》音乐总监&吉他手。2011年开始担任东申童画《行走的力量》音乐总监。
2013年8月，首度携手好友陈坤演绎全新单曲《演员和歌手》 ；
同年9月，发行首张个人专辑《模特》，举办“Hao·Live——《模特》专辑音享会” 演绎专辑中的6首热门歌曲，圈中好友李泉、权振东都前来大力支持，另外模特陆瑶、王梦雅、那广子等也亲自到场支持 。
2014年3月，发行概念EP《作曲家》，获王菲力荐，称其为“帅歌”，
同月入围MusicRadio中国TOP排行榜年度最受欢迎新人；同年4月，荣获音悦台第二届“音悦v榜”年度最佳音悦人，成为了颁奖典礼中最大黑马 ；
5月参加《全球中文音乐榜上榜》，现场打榜演唱《作曲家》，同月凭借专辑《模特》入围第25届金曲奖最佳国语男歌手奖、最佳新人奖、最佳专辑制作人、最佳国语专辑、最佳作词奖等五项大奖提名，
成为最大黑马 。
</font></p>
<!--</div>
<DIV style="cursor:hand" onclick="isHidden('target3')" align="right"><font size="2px" color="#FFFFFF">展开全部</font></DIV>
-->
&nbsp;
<h1 align="left"><a name="相似歌手"><font color="#FFFFFF" face="微软雅黑" size="5"><b>相似人物歌手</b></font></a></h1>
<hr size="1">
&nbsp;

<table  width="100%" border="0" align="center" cellpadding="5" style="font_size:16px" color="#FFFFFF" style="margin:auto;">
<tr>
	<td><a href="single.html"><img src="../static/images/7066195351418187465.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
	<td><a href="single.html"><img src="../static/images/21003723191470712635.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
</tr>

<tr>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬陈粒</font></a></td>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬小半</font></a></td>
</tr>
<br />
</table>

<table  width="100%" border="0" align="center" cellpadding="5" style="font_size:16px" color="#FFFFFF" style="margin:auto;">
<tr>
	<td><a href="single.html"><img src="../static/images/1674421470122216.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
	<td><a href="single.html"><img src="../static/images/15374364697909.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
</tr>

<tr>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬五月天</font></a></td>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬阿黛尔Adode</font></a></td>
</tr>
<br />
</table>

<table  width="100%" border="0" align="center" cellpadding="5" style="font_size:16px" color="#FFFFFF" style="margin:auto;">
<tr>
	<td><a href="single.html"><img src="../static/images/21002904081458280614.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
	<td><a href="single.html"><img src="../static/images/1675891330309511.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
</tr>

<tr>

<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬李宗盛</font></a></td>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬陈奕迅</font></a></td>
</tr>

<br />
</table>


</div>


</div>

<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">



<br />
<br />
</div>


<div style="border: 0px solid #000000; width: 1000px; margin: 0 auto;">

<h1 align="left"><a name="包含音乐"><font color="#FFFFFF" face="微软雅黑" size="6"><b>包含音乐▶</b></font></a></h1>
		<table border="0"  cellpadding="5">
			<tr>
				<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">陷阱</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">王北车</font></a></p></td>			   
			</tr>                                     
			<tr>                                      
				<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">那是你离开了北京的生活</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">薛之谦</font></a></p></td>				
			</tr>                                      
			<tr>                                       
				<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>
			</tr>                                      

		</table>


<h1 align="left"><a name="相关阅读"><font color="#FFFFFF" face="微软雅黑" size="6"><b>相关阅读✈</b></font></a></h1>
<br />

<h1 align="left"><a name="该作者更多"><font color="#FFFFFF" face="微软雅黑" size="6"><b>该作者更多▦</b></font></a></h1>
<br />


<br />
<br />

<h1 align="left"><a name="查看评论"><font color="#FFFFFF" face="微软雅黑" size="6"><b>查看评论▶</b></font></a></h1>

<form id="clearFrom">
<div align="center">
<textarea 
id="memo" cols="93" rows="3"   style="background:transparent;border=4;color:#FFFFFF;font-size:20px;font-color:微软雅黑;"></textarea><br />
<style>memeo="font-size:36px; color:#FFFFFF" </style>
</div>


<div align="right">

<input type="button" value="发布评论" onclick="saveStorage('memo');">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="button" value="查看评论" onclick="loadStorage('msg');">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="删除评论" onclick="clearStorage('msg');">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="重置内容" id="clearText"/>
<p id="msg"></p>
</div>
</form>

<script>
    var _clearText=document.getElementById("clearText");
    _clearText.onclick=function(){
        var _elements=document.getElementById("clearFrom").elements,
                _elementsLen=_elements.length,
                _ei=null,
                i=0;
        for(;i<_elementsLen;i++){
            _ei=_elements[i];
            //如果是文本类型，将其修改为空
            (_ei.type=="text"||_ei.type=="textarea")&&(_ei.value="");
        }
    }
</script>

<br />
<br />
<h1 align="left"><font color="#FFFFFF" face="微软雅黑" size="4"><b>精彩评论▦</b></font></h1>
<hr align= "left" width="100%" color="#FF0000" noshade="noshade" size="1">
<div style="margin: 0 auto;font-size:18px;font-color:微软雅黑;">
<br />
<a href=""><font color="#FF0000" size="3px"><b>李荣浩</b></font></a>：
<font size="4">假如我 年少有为......</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年10月22日 22:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(11w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>NgSeven7</b></font></a>：
<font size="4">你啊年少有为 而我年幼无知 可能因为这样 我们之间才不可能吧</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月22日 22:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(10w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>港岛妹妹没有给我西班牙馅饼</b></font></a>：
<font size="4">有人说，听李荣浩的歌，会有一种真切的痛感，因为他的歌声里总是带着几分自嘲，几分玩笑，几分不愿向现实妥协的倔强。
他有一种独特的属于自己的调调，在一些难过的夜里，李荣浩的声音很温柔。</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月2日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(9.9w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />


<br />
<a href=""><font color="#00FFFF" size="3px"><b>青梗啊_</b></font></a>：
<font size="4">在年轻的时候 , 如果你爱上了一个人
请你 , 请你一定一定要温柔地对待他
长大了以后 , 你才会知道 , 在蓦然回首的刹那
没有怨恨的青春才会了无遗憾
如山冈上那轮静静的满月</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年4月2日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(9.3w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>灾判</b></font></a>：
<font size="4">总不能还没有努力就向生活妥协</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年4月12日 02:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(8.3w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>抹茶味的可乐-</b></font></a>：
<font size="4">我发现很多年少有为的人都是经历过很大的苦难挺过来才有今天的风光，所以你年少时吃过的苦终有一天会成为你站到人生高处的基石。 ​</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年4月2日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(9.3w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />


<div id="target2" hidden="true" style="display:none">
<br />
<a href=""><font color="#00FFFF" size="3px"><b>三千世界鸦杀尽与尔共寝到天明</b></font></a>：
<font size="4">最无能为力的年纪 遇见了你 要是我成熟一点 会不会结果不一样</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月22日 22:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(10w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>港岛妹妹没有给我西班牙馅饼</b></font></a>：
<font size="4">有人说，听李荣浩的歌，会有一种真切的痛感，因为他的歌声里总是带着几分自嘲，几分玩笑，几分不愿向现实妥协的倔强。
他有一种独特的属于自己的调调，在一些难过的夜里，李荣浩的声音很温柔。</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月2日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(9.9w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />


<br />
<a href=""><font color="#00FFFF" size="3px"><b>青梗啊_</b></font></a>：
<font size="4">在年轻的时候 , 如果你爱上了一个人
请你 , 请你一定一定要温柔地对待他
长大了以后 , 你才会知道 , 在蓦然回首的刹那
没有怨恨的青春才会了无遗憾
如山冈上那轮静静的满月</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年4月2日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(9.3w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>余温不见</b></font></a>：
<font size="4">我不是男主角，一开始就知道了，没有天降光环，不是气运之子，没有显赫的家室或是逆天的气质，但我还是想做你的盖世英雄，为你遮风挡雨，与你同舟共度。</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年4月12日 02:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(8.3w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>想请你吃饭</b></font></a>：
<font size="4">赵希，我知道</font>
<font size="4"><p>我无法成为你的伴侣，与你同行                                    </p></font>
<font size="4"><p>在我们眼所能见耳所能听的这个世界上，上帝不会将我的手置于你的手中</p></font>
<font size="4"><p>这些，我都已经答应过了                                          </p></font>
<font size="4"><p>我会一直记得那时候的爱情是三块钱一杯的柠檬汁                    </p></font>
<font size="4"><p>是我陪伴你游戏二十块钱一个的通宵                                </p></font>
<font size="4"><p>是你快步走我总紧随 是你。                                       </p></font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年4月2日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞(3.3w)</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />
</div>

<DIV style="cursor:hand" onclick="isHidden('target2')" align="right"><font size="2px" color="#FFFFFF">查看更多</font></DIV>


<br />
<br />
<h1 align="left"><font color="#FFFFFF" face="微软雅黑" size="4"><b>最新评论▦(158953)</b></font></h1>
<hr align= "left" width="100%" color="#FF0000" noshade="noshade" size="1">
<div style="margin: 0 auto;font-size:18px;font-color:微软雅黑;">
<br />
<a href=""><font color="#00FFFF" size="3px"><b>荣浩</b></font></a>：
<font size="4">假如我 年少有为......我就要想,,,</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月29日 12:17</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>NgSeven7</b></font></a>：
<font size="4">你啊年少有为 而我年幼无知 可能因为这样 我们之间才不可能吧</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月29日 12:16</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>港岛妹妹没有给我西班牙馅饼</b></font></a>：
<font size="4">有人说，听李荣浩的歌，会有一种真切的痛感，因为他的歌声里总是带着几分自嘲，几分玩笑，几分不愿向现实妥协的倔强。
他有一种独特的属于自己的调调，在一些难过的夜里，李荣浩的声音很温柔。</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月29日 12:15</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />


<br />
<a href=""><font color="#00FFFF" size="3px"><b>青梗啊_</b></font></a>：
<font size="4">在年轻的时候 , 如果你爱上了一个人
请你 , 请你一定一定要温柔地对待他
长大了以后 , 你才会知道 , 在蓦然回首的刹那
没有怨恨的青春才会了无遗憾
如山冈上那轮静静的满月</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月29日 12:14</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>灾判</b></font></a>：
<font size="4">总不能还没有努力就向生活妥协</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月29日 12:13</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />

<br />
<a href=""><font color="#00FFFF" size="3px"><b>抹茶味的可乐-</b></font></a>：
<font size="4">我发现很多年少有为的人都是经历过很大的苦难挺过来才有今天的风光，所以你年少时吃过的苦终有一天会成为你站到人生高处的基石。 ​</font>
<br />
<br />
<div align="left">
&nbsp;&nbsp;&nbsp;
<font color="#D3D3D3" size="2px">2018年11月29日 12:12</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><font color="#F5F5F5" size="2px">赞</font></a>
<a href=""><font color="#F5F5F5" size="2px">回复</font></a>
<a href=""><font color="#F5F5F5" size="2px">分享</font></a>
<a href=""><font color="#F5F5F5" size="2px">举报</font></a>
</div>
<hr size="1">
<br />
<br />
<div align="center">
<a href=""><font color="#F5F5F5" size="3px">上一页</font></a>
<a href=""><font color="#FF0000" size="3px">1</font></a>
<a href=""><font color="#FFFFFF" size="3px">2</font></a>
<a href=""><font color="#FFFFFF" size="3px">3</font></a>
<a href=""><font color="#FFFFFF" size="3px">4</font></a>
<a href=""><font color="#F5F5F5" size="3px">...</font></a>
<a href=""><font color="#FFFFFF" size="3px">8852</font></a>
<a href=""><font color="#FFFFFF" size="3px">下一页</font></a>
</div>


<br />
</div>






</div>

<table align="center" width="40%" border="0"  cellpadding="0" style="margin:auto;">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM | </font></a></td>
<td><a href="../static/images/bg6.jpg"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 | </font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM | </font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 | </font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 | </font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

<script src="../static/js/down.js"></script>
<script>
	$(function(){

		var $eleBtn2 = $("#btn2");

		//方法二：通过form
		$eleBtn2.click(function(){
			var $eleForm = $("<form method='get'></form>");

			$eleForm.attr("action","musics/06：41 A.M. - 林峯.mp3");

			$(document.body).append($eleForm);

			//提交表单，实现下载
			$eleForm.submit();
		});
	})
</script>
<script>
	$(function(){

		var $eleBtn2 = $("#btn3");

		//方法二：通过form
		$eleBtn2.click(function(){
			var $eleForm = $("<form method='get'></form>");

			$eleForm.attr("action","mv/张杰,Far East Movement - 网易云音乐the X Project张杰 ／ Far East Movement预告片.mp4");

			$(document.body).append($eleForm);

			//提交表单，实现下载
			$eleForm.submit();
		});
	})
</script>
</body>

</html>

