<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>
</head>

<body style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;" background="../static/images/yannis-papanastasopoulos-327476-unsplash.jpg" bgproperties="fixed" bgcolor="#000000" text="#FFFFFF" >
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>
<h2 align="center" ><font color="#FFFFFF" face="黑体">听见 音乐的未知/遇见 美好的心情</font></h2>
<hr width="100%" size="3" color="#FF0000" noshade="noshade">
<br />
<br />
<br />
<h2 align="left"><font color="#FFFFFF" face="微软雅黑" size="6">->法律声明</font></h2>
<hr align= "left" width="30%" size="0.9" color="#FFFFFF" noshade="noshade">
<br />
<br />

<div class="part">
<center>
<font face="微软雅黑" size="3">
<p>
Xmusic的所有歌曲版权均由XX音乐版权代理公司（中国）代理！</p>
<p>此次示例中所有图片均来自于Unsplash以及歌曲专辑图片和网易云音乐网站横幅图片</p>
<p>所应用的歌曲下载自网易云音乐</p>
<p>所应用的MV下载自QQ音乐以及网易云音乐</p>
<p>特别鸣谢以上公司的支持</p>
<p>该静态网站，仅供作业提交，不作任何商业目的。</p>
<p>版权所有，翻版不究！</p>
</font>
</center>
</div>


<br />
<br />
<br />
<br />
<br />

<table align="center" width="30%" border="0"  cellpadding="0">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

</body>
</html>