{% extends "base.html" %}
{% block head %}
<style>
.1 {
}
</style>
<SCRIPT>
    function isHidden(oDiv){
      var vDiv = document.getElementById(oDiv);
      vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
    }
</SCRIPT>

<style>
body{
    height:2000px;
	background-color: #000000;
        /* 设置背景图的大小，cover 表示尽可能填充整个屏幕 */
        background-size: cover;
        /* 防止背景图重复显示 */
        background-repeat: no-repeat;
        /* 让背景图固定，不随页面滚动 */
        background-attachment: fixed;
        /* 如果需要可以设置背景颜色 */

}
.rTop{
width:100px; height:25px;
text-align:center; font-size:small;
line-height:25px; border:1px solid #999;
position:fixed; right:0; bottom:0;
border-bottom-color:#FF0000; 
border-top-color:#FF0000; 
border-left-color:#FF0000; 
border-right-color:#FF0000; margin:5px;
cursor:pointer; display:none
}
 .ad-container {
        position: relative;
    }

 .ad-content {
         background-color: rgba(255, 255, 255, 0);

        padding: 10px;
        writing-mode: vertical-lr; /* 设置文字竖着显示 */
        text-orientation: upright; /* 设置文字方向为正立 */
        white-space: nowrap; /* 防止文字换行 */
	    text-shadow: 0 0 2px #fff;
        color: #fff;
        position: absolute;
        top: 0;
        left: 100%;
}
</style>

<script>
<!--拖动滚动条或滚动鼠标轮-->
window.onscroll=function(){
if(document.body.scrollTop||document.documentElement.scrollTop>0){
document.getElementById('rTop').style.display="block"
}else{
document.getElementById('rTop').style.display="none"
}
}
<!--点击“回到顶部”按钮-->
function toTop(){
window.scrollTo('0','0');
document.getElementById('rTop').style.display="none"
}
</script>

{% endblock %}



{% block body %}
<div class="rTop" id="rTop" onClick="toTop()">
	<font color="#FFFFFF"><b>↑↑↑返回顶部</b></font>
</div>
<div style="border: 1px solid #000000; width: 1200px; margin: 0 auto;">	

<table width="1200"  border="0" cellspacing="3" align="center">
<thead >
	<tr height="100">
		<td  width="160"><a href=" "><font color="#ffffff" face="微软雅黑" size="20"><b>音乐风格概览</b></font></a></td>
		<td width="400">
    <div class="ad-container" onmouseover="showAdContent('{{ad.Content}}')" onmouseout="hideAdContent()">
    <img src="../static/images/{{ad.Picture}}" width="1061" height="226">
    <div id="adContent" class="ad-content" style="display: none;">

    </div>
</div>
</td>

<script>
    function showAdContent(content) {
      content="{{ad.content}}"
    document.getElementById('adContent').style.display = 'block';
    document.getElementById('adContent').innerHTML = '<p>' + content + '</p>';
}

function hideAdContent() {
    document.getElementById('adContent').style.display = 'none';
}
</script>
		
	</tr>
	<tr>
	<td><hr align= "left" width="70%" size="0.009" color="#FFFFFF" noshade="noshade"></td>
	</tr>
</thead>
<tbody>
	<tr valign="top" >
		<td width="160" align="center">
		<table align="center" width="135" border="0" cellspacing="5">
    {% for c in cl %}
        <tr>
            <td><a href="#{{ c.TypeName }}"><font color="#FFFFFF" face="微软雅黑" size="3">▶{{ c.TypeName }}</font></a></td>
        </tr>
    {% endfor %}
</table>
		</td>


<td width="500" height="300">

{% for class_name, class_songs in songs_by_class.items() %}
    <table width="1050" border="0" cellspacing="5" cellpadding="5">
        <th align="left">
            <a name="{{ class_name }}"><font color="#FFFFFF" face="微软雅黑" size="5"><b>▶ {{ class_name }}</b></font></a>
        </th>

        <tr align="center">
            <td>--------------------<b>代表歌曲</b>--------------------</td>
        </tr>
    </table>

    <table>
        {% for song in class_songs %}
            {% if loop.index % 8 == 1 %}
                <tr>
            {% endif %}
            <td style="text-align: center; padding-right: 20px;">
                <a href="{{ url_for('music.single', id=song.MusicID) }}">
                    <img src="../static/images/{{ song.Cover }}.jpg" height="100" width="100" />
                </a>
                <br>
                <a href="{{ url_for('music.single', id=song.MusicID) }}">
                    <font color="#6C6C6C" face="微软雅黑" size="2">{{ song.MusicName }}</font>
                </a>
            </td>
            {% if loop.index % 8 == 0 or loop.last %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endfor %}

	</td>
</tr>
</tbody>
    {% endblock %}



