{% extends "base.html" %}
{% block body %}
<div id="particles-js"></div>

			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">

					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>X MUSIC 登录</h1></header>
					<P class="mb-5"><font size="5px">听见 音乐的未知 / 遇见 美好的心情</font></P>

                    <form  method="POST" >
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="Email" type="text" class="form-control"  placeholder="请输入邮箱" required/>
				  			</div>

							<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">>>没有账号？立即<a href="{{url_for('auth.register')}}">注册</a>--------------------------------------------</font></p>
							<div class="col-md-7 col-sm-7 col-xs-7">
									  <input name="Password" type="password" class="form-control" placeholder="请输入密码" required/>
								</div>
								<div class="col-md-5 col-sm-5 col-xs-5">
									<button type="submit" class="tm-btn-subscribe">登录</button>
								</div>
							<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">>>忘记密码？立即<a href="{{url_for('auth.repassword')}}">找回</a>--------------------------------------------</font></p>
							<div class="col-md-5 col-sm-5 col-xs-5">
									{% with messages = get_flashed_messages() %}
									  {% if messages %}
										<ul class="flashes">
										{% for message in messages %}
										  <li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}
								</div>




						</div>
                    </form>
					</div>
				</div>

			</div>
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='css/demo.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style2.css')}}">
{% endblock %}

