<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>



<style>
body{
height:2000px;
}
.rTop{
width:100px; height:25px;
text-align:center; font-size:small;
line-height:25px; border:1px solid #999;
position:fixed; right:0; bottom:0;
border-bottom-color:#FF0000; 
border-top-color:#FF0000; 
border-left-color:#FF0000; 
border-right-color:#FF0000; margin:5px;
cursor:pointer; display:none
}
</style>

<script>
<!--拖动滚动条或滚动鼠标轮-->
window.onscroll=function(){
if(document.body.scrollTop||document.documentElement.scrollTop>0){
document.getElementById('rTop').style.display="block"
}else{
document.getElementById('rTop').style.display="none"
}
}
<!--点击“回到顶部”按钮-->
function toTop(){
window.scrollTo('0','0');
document.getElementById('rTop').style.display="none"
}
</script>

</head>

<body bgcolor="#000000" text="#FFFFFF" >
<div class="rTop" id="rTop" onClick="toTop()"><font color="#FFFFFF"><b>↑↑↑返回顶部</b></font></div>

<table width="100%" border="0"  cellpadding="0" height="77">
<tr>
<td align="left" width="300"><h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href="account.html"><font color="#FFFFFF" face="黑体" size="4">我的</font></a></td>
<td align="right"><a href="discovery.html"><font color="#FFFFFF" face="黑体" size="4">推荐</font></a></td>
<td align="right"><a href="library.html"><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href="news.html"><font color="#FFFFFF" face="黑体" size="6"><b>看点</b></font></a></td>
<td align="right"><a href="chart.html"><font color="#FFFFFF" face="黑体" size="4">排行</font></a></td>
<td align="right"><a href="mv.html"><font color="#FFFFFF" face="黑体" size="4">视频</font></a></td>
<td align="right"><a href="search.html"><font color="#FFFFFF" face="黑体" size="4">搜索</font></a></td>
<td align="right"><a href="single.html"><font color="#FFFFFF" face="黑体" size="4">立刻听歌</font></a></td></tr>
</table>

<hr width="100%" size="3" color="#FF0000" noshade="noshade">

<br />
<br />
<br />





<div style="border: 1px solid #000000; width: 1000px; margin: 0 auto;">

<table cellspacing="7" cellpadding="15">

<tr>
	<td><a href="#创作故事"><font color="#FFFFFF">创作故事</font></a></td>
	<td><a href="#现场记录"><font color="#FFFFFF">现场记录</font></a></td>
	<td><a href="#民谣期刊"><font color="#FFFFFF">民谣期刊</font></a></td>
	<td><a href="#乐评专栏"><font color="#FFFFFF">乐评专栏</font></a></td>
	<td><a href="#粉丝投稿"><font color="#FFFFFF">粉丝投稿</font></a></td>


</table>

<h1 align="left"><font color="#FFFFFF" face="微软雅黑" size="3"><b>每日推荐阅读>></b></font><a href="discovery.html"><font color="#808080" face="微软雅黑" size="2"><b>（点击可查看往期每日推荐）</b></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">


<P><a href="event.html"><IMG height=350 src="../static/images/9c57ecfdgy1fvbloix7u4j22bc1jke82.jpg" width=600 align=left border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p>2018-11-11</p>

<p><font size="5">于是我不再唱歌</font></p>
<p><font color="#4F4F4F" size="3">”我是顾森西，西是太阳从西边升起来的西！也是影视乐三栖的西!“</font></p>
<br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;曾经十几二十来岁那些忘不掉的时光，热烈，飘荡而充满渴望，每一刻都是光泽无比的华年。
经年过往之后我们的肉体正在悄悄地老去，生活的枷锁却越来越多， 而那个仍然不安的灵魂将何处安放？
我们一直试图寻找答案，渐渐地才发现原来答案就在每时每刻的生活里。生活汇聚成音符，音符承载情感，于是有了这张专辑。<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=left></P>
<br/>
<br/>
<br/>


<h1 align="left"><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6"><b><a name="创作故事">创作故事</a></b></font><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6">>></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">

<P><a href="event.html"><IMG height=350 src="../static/images/p2189993451.jpg" width=600 align=right border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬耗尽-霓虹</font></a></p>
<p><font size="5">耗尽，勾勒灵魂的伤口</font></p>
<p><font color="#4F4F4F" size="3">”雾虹是一种很罕见的彩虹，彩虹是七彩，雾虹只有白色，特别美丽且独一无二。“</font></p>
<br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;在耗尽了一切的气力之后
终究还是回到了那里。
抽着烟，吐口气。
不要怀疑，我们还是站在这里。
看着那艳红的夕阳就随着时间落下，
在贫穷的浪漫之中，享受着那缓慢的浪潮推向了你们。</p>
<p>这是送给每一个人忽略的灵魂深处的礼物。
愿你还有一个私密的角落，还拥有一件值得沉溺的人或事，让它们成为你继续活下去的理由。
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=right></P>
<br/>


<P><a href="event.html"><IMG height=355 src="../static/images/new2.png" width=645 align=left border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬精彩才刚刚开始-易烊千玺</font></a></p>
<p><font size="5">他跟我聊到樱桃树、灰尘以及一座山</font></p>
<p><font color="#4F4F4F" size="3">“我只愿中国的少年只是向上走，不必理会这冷笑和暗箭。”</font></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;十年，易烊千玺 唱出了一个少年到巨星的成长 
十年，给我们理由回望 给我们理由狂欢，
更给我们理由期待 恰如十年来的我们 每一次在天猫双11所体验的点滴变化，
积累的狂欢记忆 这一切让我们深信——精彩 才刚刚开始</p>
<p>“谢谢你。” “谢谢什么？” “谢谢你一直这么努力不放弃。” 
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=left></P>
<br/>


<h1 align="left"><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6"><b><a name="现场记录">现场记录</a></b></font><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6">>></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">

<P><a href="event.html"><IMG height=431 src="../static/images/new1.png" width=845 align=right border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬울고 싶지 않아-SEVENTEEN</font></a></p>
<p><font size="5">SEVENTEEN回归新单经历少年之伤</font></p>
<p><font color="#4F4F4F" size="3">”我作为队长来做一个约定,如果大家真的永远爱我们,我们13人也永远为大家而做音乐“</font></p>
<p><font color="#4F4F4F" size="3">”Us in the different system, another form of seventeen.另一个系统中的我们，另一个形式的17。“</font></p>

<br /><br /><br /><br /><br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SEVENTEEN第四张迷你专辑《Al1》主打曲《Don't Wanna Cry》MV完整版公开~
该曲描写了少年第一次感受到由爱情带来的悲伤。
讲述了当少年感觉到将要失去一切重要事物的瞬间，
表现出的那种消逝感以及不想失去任何东西的纯粹情感。<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=right></P>
<br/>


<P><a href="event.html"><IMG height=355 src="../static/images/new3.png" width=645 align=left border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬十七-S.H.E</font></a></p>
<p><font size="5">S.H.E 17周年纪念单曲《十七》</font></p>
<p><font color="#4F4F4F" size="3">“我只愿中国的少年只是向上走，不必理会这冷笑和暗箭。”</font></p>

<p>人生是辆不停前进的单程列车，从生命之初开往落日之尽，沿途景色变换各站停靠，那些来来去去的人们，中途时而上车时而下车，
月台上的欢欣与悲喜，车厢里的驻足与遥望，可能擦肩而过，可能短暂停留，缘份让我们在这段旅程上相识相知相惜相伴。</p>
<p>看似柔弱的人最坚强，看起来最好嫁的人还没有归宿，最假小子的人先做了妈妈，
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=left></P>
<br/>


<h1 align="left"><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6"><b><a name="民谣期刊">民谣期刊</a></b></font><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6">>></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">

<P><a href="event.html"><IMG height=390 src="../static/images/new4.png" width=704 align=right border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬犴达罕-陈鸿宇</font></a></p>
<p><font size="5">此心安处</font></p>
<p><font color="#4F4F4F" size="3">” 陈鸿宇的歌关于理想、关于生活 关于岁月、关于青春、关于自由 就像是一股清流 他的歌有太多诗意 却又有点似哲学的深邃 很美，不俗，不腻“</font></p>


<br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他立于一片荒芜之中，群山沉寂，虫声蟋碎，风声呼啸，踩断的枯叶，短促的喘息，在冷空气中相伴作响，池中之水，汩汩流动，星光闪耀。
他背起吉他，踩着沙砾石走向河边，大提琴沉郁奏起，微光清凉，流水伴奏，此刻听到的声音，
低沉而又缓慢地逼近，一阵一阵涌动，辗转迂回。<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=right></P>
<br/>


<P><a href="event.html"><IMG height=370 src="../static/images/new5.png" width=727 align=left border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬猎户星座-朴树</font></a></p>
<p><font size="5">有时你沉默 有时你唱起歌</font></p>
<p><font color="#4F4F4F" size="3">“闹市人沸心已静，歌声绕梁再难离。 朴心依旧笑如昔，树光耀眼归少年。”</font></p>

<p>我们选了一个最普通不过的周末，听朴树在北京后海唱完了一整首《猎户星座》，实在是太美的一个下午了，人群，音乐，还有如期而至的傍晚，这一切都让人感到庆幸，一起来看吧，
有时你沉默，有时你唱起歌。</p>
<p>生活很苦，有人爱很好，但靠别人的爱活着，真的不行。
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=left></P>
<br/>


<h1 align="left"><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6"><b><a name="乐评专栏">乐评专栏</a></b></font><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6">>></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">

<P><a href="event.html"><IMG height=412 src="../static/images/new6.png" width=850 align=right border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬再见hip-hop-MCHotdog/张震岳/功夫胖/派克特</font></a></p>
<p><font size="5">还是不习惯唱skr，我也不需要谁来为我唱hook</font></p>
<br /> 
<p><font color="#4F4F4F" size="3">” 还是不习惯说SKR，最死忠的科粉不习惯詹姆斯穿紫色。这就很real了“</font></p>


<br /><br /><br /><br /><br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已经准备飞高不留任何遗憾 就算摔跤 还是要背水一战
把我燃烧 生来就注定要起飞 热血注入脊椎 像不死鸟一辉
异乡为异客 的我披星戴月 抑郁和闭塞 成功差点说再见
还好记得 那年夜晚 星空的画面 继续走着 带着爱和 心中的挂念
时间的长河看不到尽头 像只鱼儿游 没办法逆流
树下那些里程碑 没人告诉我 荣归故里时能有几人归

</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我做这些为了家人和兄弟 为了我的女孩 给我的勇气
十年的青春 我们依然在这 SUP , We young forever！
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=right></P>
<br/>


<P><a href="event.html"><IMG height=425 src="../static/images/new7.png" width=849 align=left border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬年少有为-李荣浩</font></a></p>
<p><font size="5">假如我年少有为不自卑</font></p>
<br />
<p><font color="#4F4F4F" size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“我发现很多年少有为的人都是经历过很大的苦难挺过来才有今天的风光，所以你年少时吃过的苦终有一天会成为你站到人生高处的基石。”</font></p>
<br /><br /><br /><br /><br /><br /><br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有人说，听李荣浩的歌，会有一种真切的痛感，因为他的歌声里总是带着几分自嘲，几分玩笑，几分不愿向现实妥协的倔强。
他有一种独特的属于自己的调调，在一些难过的夜里，李荣浩的声音很温柔。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在年轻的时候 , 如果你爱上了一个人 请你 , 请你一定一定要温柔地对待他 长大了以后 , 你才会知道 , 在蓦然回首的刹那 没有怨恨的青春才会了无遗憾 如山冈上那轮静静的满月
<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=left></P>
<br/>



<h1 align="left"><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6"><b><a name="粉丝投稿">粉丝投稿</a></b></font><a href="discovery.html"><font color="#FFFFFF" face="微软雅黑" size="6">>></font></a></h1>
<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">

<P><a href="event.html"><IMG height=351 src="../static/images/new8.png" width=666 align=right border=0><font size="4" color="#D0D0D0" face="等线"></a>
<p><a href="single.html"><font color="#D0D0D0" size="3px">♬IDOL-BTS（防弹少年团）</font></a></p>
<p><font size="5">真正的爱从爱自己开始</font></p>
<p><font color="#4F4F4F" size="3">” 我认为人生本来就是彷徨的，人生是彷徨的延续，加之年轻，当然会想过顺从，谁都经历过混乱，都经历过苦闷，好奇自己会走怎样的路，
这种事是每个人都会经历的，一切都会好的。“</font></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;专辑主打歌IDOL是最防弹的，完美诠释了什么是只有防弹少年团才能做成的音乐。 
在旋律上South Africa Beat辅以韩国国乐的节拍及助兴叹交织融合，Trap Groove的Rap辅之以最新流行的EDM节奏；在表现上African Dance Gwara Gwara与韩国舞蹈交相呼应；
在MV方面savanna与北青狮子游戏印象相辅相成，
subculture graphic效果与欧洲－亚洲建筑及韩国传统样式相结合。<a href="event.html"><font color="#5B5B5B" face="等线" size="3">......阅读全文</font></a>
</p>
</font><BR>&nbsp;<BR clear=right></P>
<br/>




<br />
<br />
</div>



<table align="center" width="30%" border="0"  cellpadding="0">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

</body>

</html>

