{% extends "base.html" %}
{% block body %}
<div id="particles-js"></div>

			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">

					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>X MUSIC 注册</h1></header>
					<P class="mb-5"><font size="5px">听见 音乐的未知 / 遇见 美好的心情</font></P>
					<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">>>已有账号！立即<a href="login">登录</a>--------------------------------------------</font></p>
                    <form method="POST">
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="UserID" type="text" class="form-control" placeholder="请输入11位账号" required/>
				  			</div>
							<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">>>用户名：--------------------------------------------</font></p>
							<div class="col-md-7 col-sm-7 col-xs-7">
									  <input name="UserName" type="text" class="form-control"  placeholder="请输入用户名" required/>
								</div>

							<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">>>密码：--------------------------------------------</font></p>
							<div class="col-md-7 col-sm-7 col-xs-7">
									  <input name="Password" type="password" class="form-control"  placeholder="请输入密码" required/>
								</div>
							<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">>>确认密码--------------------------------------------</font></p>

						  <div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="password_confirm" type="password" class="form-control" placeholder="确认密码" required/>
				  			</div>
							<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">&gt;&gt;手机号--------------------------------------------</font></p>
							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="ContactNumber" type="text" class="form-control" placeholder="请输入手机号" required/>
			  			  </div>
<p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">&gt;&gt;邮箱---------------------------------------------</font></p>
						  <div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="Email" type="text" class="form-control" id="email" placeholder="请输入邮箱" required/>
			  			  </div>
								<div class="col-md-5 col-sm-5 col-xs-5">
									<button  type="submit" class="tm-btn-subscribe" id="captcha-btn">获取验证码</button>
								</div>
						  <p class="tm-social-icons-container text-xs-center"><font size="3px" color="#FFFFFF">&gt;&gt;验证码---------------------------------------------</font></p>
						  <div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="captcha" type="text" class="form-control" id="contact_email" placeholder="请输入验证码" required/>
			  			  </div>
							<div class="col-md-5 col-sm-5 col-xs-5">
									<button type="submit" class="tm-btn-subscribe">注册</button>
								</div>




						</div>
                    </form>


					</div>
				</div>

			</div>
{% endblock %}


{% block link %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='css/demo.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style2.css')}}">
{% endblock %}