{% extends "base.html" %}
{% block body %}
<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">

					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>X MUSIC 搜索</h1></header>
					<P class="mb-5"><font size="5px">听见 音乐的未知 / 遇见 美好的心情</font></P>
					
                    <form  method="Post">
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="m" type="text" class="form-control" placeholder="歌名/歌手" required/>
				  			</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe">搜索</button>
							</div>
						
						</div>
                    </form>
                    
					<div class="tm-social-icons-container text-xs-center">
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<ul class="flashes">
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endwith %}

	                </div>

					</div>
				</div>	
				
			</div>	
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='css/demo.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style2.css')}}">
{% endblock %}


