<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>

  
  <script type="text/javascript" src="../static/js/modernizr.custom.86080.js"></script>
</head>

<body bgcolor="#000000" text="#FFFFFF" >

<div class="container-fluid">
<div class= "tm-content col-xl-12 col-sm-12 col-xs-12 ml-auto section" >
<table width="100%" border="0"  cellpadding="0" height="77">
<tr>
<td align="left" width="300"><h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href="account.html"><font color="#FFFFFF" face="黑体" size="4">我的</font></a></td>
<td align="right"><a href="discovery.html"><font color="#FFFFFF" face="黑体" size="4">推荐</font></a></td>
<td align="right"><a href="library.html"><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href="news.html"><font color="#FFFFFF" face="黑体" size="4">看点</font></a></td>
<td align="right"><a href="chart.html"><font color="#FFFFFF" face="黑体" size="4">排行</font></a></td>
<td align="right"><a href="mv.html"><font color="#FFFFFF" face="黑体" size="4">视频</font></a></td>
<td align="right"><a href="search.html"><font color="#FFFFFF" face="黑体" size="6">搜索</font></a></td>
<td align="right"><a href="single.html"><font color="#FFFFFF" face="黑体" size="4">立刻听歌</font></a></td></tr>
</table>
<hr width="100%" size="5" color="#FF0000" noshade="noshade">
</div>
</div>

<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">

					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>X MUSIC 搜索</h1></header>
					<P class="mb-5"><font size="5px">听见 音乐的未知 / 遇见 美好的心情</font></P>
					
                    <form action="#" method="get" class="subscribe-form">
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="email" type="text" class="form-control" id="contact_email" placeholder="歌名/歌手/专辑名/歌词/MV" required/>
				  			</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe">搜索</button>
							</div>
						
						</div>
                    </form>
                    
					<div class="tm-social-icons-container text-xs-center">
	                    <p>大家都在搜:</p>
	                    <p><a href="single.html" ><font size="3px" color="#FFFFFF">①.星球坠落-艾热\李佳隆</font></a>
	                    <a href="single.html" ><font size="3px" color="#FFFFFF">②.满舒克</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">③.Jony J套路</font></a><p>
						<p><a href="single.html" ><font size="3px" color="#FFFFFF">④.Troye Sivan新专</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">⑤.阳光灿烂的日子</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">⑥.ＳＨＥ十七周年</font></a></p>
						<p><a href="single.html" ><font size="3px" color="#FFFFFF">⑦.花粥</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">⑧.竹 张杰</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">⑨.X MUSIC一周年献礼</font></a></p>
						<p><a href="single.html" ><font size="3px" color="#FFFFFF">⑩.你听得到</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">⑪.中国新说唱</font></a>
						<a href="single.html" ><font size="3px" color="#FFFFFF">⑫.陈鸿宇</font></a></p>
	                </div>

					</div>
				</div>	
				
			</div>	



<br />	

<div class="container-fluid">
<div class= "tm-content col-xl-12 col-sm-12 col-xs-12 ml-auto section" >		
<table align="center" width="30%" border="0"  cellpadding="0">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>
</div>
</div>



</body>



<!--
	<script type="text/javascript" src="../static/js/particles.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="../static/css/demo.css" />
  <link rel="stylesheet" href="../static/css/templatemo-style2.css">
</html>

