<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/xadmin.css')}}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='lib/layui/layui.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/xadmin.js')}}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post" action="{{ url_for('operate.singer_search') }}">
        <input type="text" name="singer_id" placeholder="请输入歌手名或歌手id" autocomplete="off" class="layui-input" value="{{ singer_id }}">
        <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      </div>
      <xblock>
        <a class="layui-btn" href="{{url_for('operate.singer_list_')}}">返回歌手列表</a>
          <a class="layui-btn" href="{{url_for('operate.singer_add')}}">歌手添加</a>
      </xblock>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      <table class="layui-table">
        <thead>
          <tr>
            <th>歌手ID</th>
            <th>歌手</th>
            <th>性别</th>
        <th>操作</th>
        </thead>
        <tbody>
             {% for singer  in singers  %}
                <tr>
                    <td>{{singer.SingerID}}</td>
                    <td>{{singer.Singer}}</td>
                    <td>{{singer.SingerSex}}</td>
                    <td class="td-manage">
                        <a title="编辑"   href="{{url_for('operate.singer_edit_',singer_id=singer.SingerID)}}">编辑</a>
                <i class="layui-icon">&#xe642;</i>
                      <a title="删除"   href="{{url_for('operate.singer_delete_',singer_id=singer.SingerID)}}">删除</a>
                        <i class="layui-icon">&#xe640;</i>
                      </a>
                    </td>
                  </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });



    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>