<html>
<head>
<title>X Music</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
a:link {text-decoration: none;color:red;}
a:visited {color:green;text-decoration:none;}
a:hover  {color:blue;text-decoration:underline;}
a:active {color:orange;text-decoration:blink;}
</style>
<SCRIPT>
    function isHidden(oDiv){
      var vDiv = document.getElementById(oDiv);
      vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
    }
</SCRIPT>

<script type="text/javascript">
function saveStorage(id)
{
	var data = document.getElementById(id).value;
	if(data.value != " ")
	{
    var time = new Date().getTime();
    localStorage.setItem(time,data);
    alert("❤❤❤评论成功❤❤❤");
    loadStorage('msg');
	}
	else
	{
	alert("！！！请输入您对于这首歌的评论！！！");
	}
}
function loadStorage(id)
{
    var result = '<table border="0">';
    for(var i = 0;i < localStorage.length;i++)
    {
        var key = localStorage.key(i);
        var value = localStorage.getItem(key);
        var date = new Date();
        date.setTime(key);
        var datestr = date.toGMTString();
        result += '<tr><td>' + value + '</td><td>' + datestr + '</td></tr>';
    }
    result += '</table>';
    var target = document.getElementById(id);
    target.innerHTML = result;
}
function clearStorage()
{
 if(localStorage.length > 0)
    {
    if(window.confirm("重置评论后不可恢复，是否确认删除我的当前的评论？"))
    {
    localStorage.clear();
    alert("您的当前评论已删除");
    loadStorage('msg');
    }
    }
    else
    {
        alert("没有需要删除的评论！期待您的评论！");
    }
	
    
}
</script>

<style>
body{
height:1000px;
}
.rTop{
width:100px; height:25px;
text-align:center; font-size:small;
line-height:25px; border:1px solid #999;
position:fixed; right:0; bottom:0;
border-bottom-color:#FF0000; 
border-top-color:#FF0000; 
border-left-color:#FF0000; 
border-right-color:#FF0000; margin:5px;
cursor:pointer; display:none
}
</style>
<style>
button{border:0px;background-color:transparent;}
</style>
<style>
audio{

width:1000px;
}
</style>

<style>
video{
height:600px;
width:1000px;
}
</style>


<script>
<!--拖动滚动条或滚动鼠标轮-->
window.onscroll=function(){
if(document.body.scrollTop||document.documentElement.scrollTop>0){
document.getElementById('rTop').style.display="block"
}else{
document.getElementById('rTop').style.display="none"
}
}
<!--点击“回到顶部”按钮-->
function toTop(){
window.scrollTo('0','0');
document.getElementById('rTop').style.display="none"
}
</script>

</head>

<body style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;" background="images/Snipaste_2018-11-15_09-22-21 (2).png" bgproperties="fixed" bgcolor="#000000" text="#FFFFFF" >
<div class="rTop" id="rTop" onClick="toTop()"><font color="#FFFFFF"><b>↑↑↑返回顶部</b></font></div>

<table width="100%" border="0"  cellpadding="0" height="77">
<tr>
<td align="left" width="300"><h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1></td>
<td align="right"><a href="account.html"><font color="#FFFFFF" face="黑体" size="4">我的</font></a></td>
<td align="right"><a href="discovery.html"><font color="#FFFFFF" face="黑体" size="4">推荐</font></a></td>
<td align="right"><a href="library.html"><font color="#FFFFFF" face="黑体" size="4">乐库</font></a></td>
<td align="right"><a href="news.html"><font color="#FFFFFF" face="黑体" size="4"><b>看点</b></font></a></td>
<td align="right"><a href="chart.html"><font color="#FFFFFF" face="黑体" size="4">排行</font></a></td>
<td align="right"><a href="mv.html"><font color="#FFFFFF" face="黑体" size="4">视频</font></a></td>
<td align="right"><a href="search.html"><font color="#FFFFFF" face="黑体" size="4">搜索</font></a></td>
<td align="right"><a href="single.html"><font color="#FFFFFF" face="黑体" size="4">立刻听歌</font></a></td>
</tr>
</table>

<hr width="100%" size="3" color="#FF0000" noshade="noshade">

<br />
<br />
<br />





<div style="border: 0px solid #000000; width: 1000px; margin: 0 auto;">
<h1 align="left"><a href=" "><font color="#FFFFFF" face="微软雅黑" size="8"><b>李荣浩</b></font></a>


<div>
<img src="images/Snipaste_2018-11-15_09-22-21.png" width="1000px" height="350">
</div>

<br />

<table cellspacing="7" cellpadding="15" border="7px" bordercolor="#FFFFFF">

<tr>

	<td><a href=" "><font color="#FFFFFF">收藏歌手♥</font></a></td>
	<td><a href="#热门作品"><font color="#FFFFFF">热门作品▶</font></a></td>
	<td><a href="#全部专辑"><font color="#FFFFFF">全部专辑▶</font></a></td>
	<td><a href="#相关MV"><font color="#FFFFFF">相关MV✈</font></a></td>
	<td><a href="#相似歌手"><font color="#FFFFFF">相似歌手▦</font></a></td>


</table>
<br />
<div>
	<style>
		*{
			margin: 2;
			padding: 2;
		}
		.left,.right{
			
			border:0px solid #dcdcdc;
			padding: 7px;
		}
		.left{
			width: 60%;
			float: left;
		}
		.right{
			width: 30%;
			float: right;
			
		}

		
	</style>
<div class="left">
<h1 align="left"><a name="热门作品"><font color="#FFFFFF" face="微软雅黑" size="6"><b>热门作品</b></font></a></h1>
		<table border="0"  cellpadding="5">
			<tr>
				<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">陷阱</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">王北车</font></a></p></td>			   
			</tr>                                     
			<tr>                                      
				<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">那是你离开了北京的生活</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">薛之谦</font></a></p></td>				
			</tr>                                      
			<tr>                                       
				<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">孩子(DEMO)</font><font color="#A9A9A9" face="等线" size="3">（你还在我身旁）</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">西楼</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">想把你留在这里</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a>
				<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
				<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Tizzy T</font></a></p></td>
			</tr>                                      
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">不用去猜</font><font color="#A9A9A9" face="等线" size="3">（最初版）</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Jony J</font></a></p></td>
			</tr>
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">FAKE LOVE</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS(防弹少年团)</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">于是我不再唱歌</font><font color="#A9A9A9" face="等线" size="3">（Live版）</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">旅行团乐队</font></a></p></td>
			</tr>  
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">越过那道起跑线</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">郭思达</font></a></p></td>
			</tr> 
			<tr>                                       
				<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">Mystery Of Love</font></a>
				<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Sufjan Stevens</font></a></p></td>

		</table>

<div id="target" hidden="true" style="display:none">
<table border="0"  cellpadding="5">

		<tr>
			<td><font color="#FFFFFF" face="等线" size="6"><b>11</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">张家明和婉君</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">李荣浩</font></a></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#FFFFFF" face="等线" size="6"><b>12</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">1999</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Charli XCX</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Troye Sivan</font></p></td>
							
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>13</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">삐삐</font><font color="#A9A9A9" face="等线" size="3">（BBIBBI）</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">IU</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>14</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">给妈妈</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">房东的猫</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>15</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">LUCKY CHANCES</font></a>
			<p><a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">KSHMR</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">张杰</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="singer.html"><font color="#A9A9A9" face="微软雅黑"size="2">Bali Bandits</font></a></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>16</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">关于我爱你</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">张悬</font></a></p></td>
		</tr>
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>17</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">水滴石穿 (Live)</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">那吾克热LIL-EM</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>18</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">风衣</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">孙燕姿</font></a></p></td>
		</tr>  
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>19</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">IDOL (feat. Nicki Minaj)</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">BTS (防弹少年团)</font></a>
			<font color="#A9A9A9" face="微软雅黑"size="2">/</font>
			<a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">Nicki Minaj</font></a></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>20</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">言不由衷</font></a>
			<p><a href="discovery.html"><font color="#A9A9A9" face="微软雅黑"size="2">徐佳莹</font></a></p></td>
		</tr>	
	</table>
</div>

<DIV style="cursor:hand" onclick="isHidden('target')" align="right"><font size="2px" color="#FFFFFF">展开/收起</font></DIV>


<h1 align="left"><a name="全部专辑"><font color="#FFFFFF" face="微软雅黑" size="6"><b>全部专辑</b></font></a></h1>
<table border="0"  cellpadding="5">
		<tr>
			<td><font color="#DC143C" face="等线" size="6"><b>1</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">贝贝</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤❤</font></p></td>			   
		</tr>                                     
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>2</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">耳朵</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>	
		</tr>                                      
		<tr>                                      
			<td><font color="#DC143C" face="等线" size="6"><b>3</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">年少有为</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>4</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">嗯</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓2 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>5</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">模特</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓1 ❤❤❤</font></p></td>
		</tr>                                      
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>6</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">野生动物</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑3 ❤❤❤❤</font></p></td>
		</tr>
	</table>
	<div id="targeta" hidden="true" style="display:none">
	<table border="0"  cellpadding="5">
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>7</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">我看着你的时候</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑1 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>8</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">歌谣</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">-0 ❤❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>9</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">就这样</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↑2 ❤❤❤❤</font></p></td>
		</tr> 
		<tr>                                       
			<td><font color="#FFFFFF" face="等线" size="6"><b>10</b></font><a href="index.html"><font color="#FFFFFF" face="等线" size="4">戒烟</font></a>
			<p><font color="#A9A9A9" face="微软雅黑"size="2">↓5 ❤❤❤❤❤</font></p></td>
		</tr> 
	</table>
	</div>
	<DIV style="cursor:hand" onclick="isHidden('targeta')" align="right"><font size="2px" color="#FFFFFF">展开/收起</font></DIV>
	

<br />
<br />

<h1 align="left"><a name="相关MV"><font color="#FFFFFF" face="微软雅黑" size="6"><b>相关MV</b></font></a></h1>
<table  width="100%" border="0" align="left" cellpadding="0" style="font_size:16px" color="#FFFFFF" style="margin:auto">
<tr >
	<td><a href=""><img src="images/mv1.png" height="230" width="300" /></a></td>
	<td><a href=""><img src="images/-M-da640e7da74b766e852d39609646e2c3_0x0.jpg" height="230" width="300" /></a></td>


</tr>

<tr >
<td><a href="discovery.html"><font color="#6C6C6C" face="微软雅黑"size="2">MV</font></a></td>
<td><a href="discovery.html"><font color="#6C6C6C" face="微软雅黑"size="2">MV</font></a></td>
</tr>

<tr >
<td><a href="discovery.html"><font color="#D0D0D0" face="等线" >幻乐之城，一场爱情与音乐的美好</font></a></td>
<td><a href="discovery.html"><font color="#D0D0D0" face="等线">独家揭秘那些年mv拍摄故事</font></a></td>

</tr>
<br />
</table>

<div id="targetm" hidden="true" style="display:none">
<table  width="100%" border="0" align="center" cellpadding="0" style="font_size:16px" color="#FFFFFF" style="margin:auto">
<tr >
	<td><a href=""><img src="images/p2176239495.jpg" height="230" width="300" /></a></td>
	<td><a href=""><img src="images/sbg.jpg" height="230" width="300" /></a></td>


</tr>

<tr >
<td><a href="discovery.html"><font color="#6C6C6C" face="微软雅黑"size="2">MV</font></a></td>
<td><a href="discovery.html"><font color="#6C6C6C" face="微软雅黑"size="2">MV</font></a></td>
</tr>

<tr >
<td><a href="discovery.html"><font color="#D0D0D0" face="等线" >幻乐之城，一场爱情与音乐的美好</font></a></td>
<td><a href="discovery.html"><font color="#D0D0D0" face="等线">独家揭秘那些年mv拍摄故事</font></a></td>

</tr>
<br />
</table>

</div>


<DIV style="cursor:hand" onclick="isHidden('targetm')" align="right"><font size="2px" color="#FFFFFF">展开/收起</font></DIV>
<br />
<br />

</div>

<div class="right">
<p><font color="#FFFFFF" face="微软雅黑" size="5"><b>李荣浩简介</b>                                </font>
<hr size="1">
<p>&nbsp;&nbsp;&nbsp;<font color="#FFFFFF" face="微软雅黑" size="2">
李荣浩，1985年7月11日生于蚌埠，中国流行音乐制作人、歌手、吉他手。
曾为众多艺人创作歌曲以及担任制作人，也曾为多部电影与多款电子游戏制作音乐。2013年9月17日发行个人首张原创专辑《模特》，
凭借这张专辑入围第25届金曲奖最佳国语男歌手奖、最佳新人奖、最佳专辑制作人、最佳国语专辑、最佳作词奖等五项大奖提名，成为最大黑马，实现了从制作人到歌手的华丽转身。</font></p>
&nbsp;<p><font color="#FFFFFF" face="微软雅黑" size="3"><b>人生经历</b></p>  
<p>&nbsp;&nbsp;&nbsp;<font color="#FFFFFF" face="微软雅黑" size="2">从小自学吉他和低音提琴，后师从低音提琴演奏家尹富源教授。
2004年接受音乐杂志《吉他平方》专访并发表单曲《烦》，同年与乐队合作获得江苏省第五届流行音乐大赛一等奖。
2005年接受音乐杂志《现代乐手》专访并发表单曲《DREAM》，同年9月担任《我的音乐梦想》系列吉他丛书主编，后正式成为吉他中国乐手。
2005年签约日本艾回唱片，成为其台湾地区独家创作艺人。
2007年，李荣浩赴台湾参与制作信专辑《我就是我》，并担任其“2008我就是我·北京演唱会”的表演嘉宾。
2008年参与制作赵薇专辑《我们都是大导演》，并担任发布会表演嘉宾；同年担任陈坤专辑《谜&Me》的专辑制作人。</font></p>
<!--<div id="target3" hidden="true" style="display:none">-->
<p>&nbsp;&nbsp;&nbsp;<font color="#FFFFFF" face="微软雅黑" size="2">
2010年2月4日，担任陈坤首场演唱会《谜》音乐总监&吉他手。2011年开始担任东申童画《行走的力量》音乐总监。
2013年8月，首度携手好友陈坤演绎全新单曲《演员和歌手》 ；
同年9月，发行首张个人专辑《模特》，举办“Hao·Live——《模特》专辑音享会” 演绎专辑中的6首热门歌曲，圈中好友李泉、权振东都前来大力支持，另外模特陆瑶、王梦雅、那广子等也亲自到场支持 。
2014年3月，发行概念EP《作曲家》，获王菲力荐，称其为“帅歌”，
同月入围MusicRadio中国TOP排行榜年度最受欢迎新人；同年4月，荣获音悦台第二届“音悦v榜”年度最佳音悦人，成为了颁奖典礼中最大黑马 ；
5月参加《全球中文音乐榜上榜》，现场打榜演唱《作曲家》，同月凭借专辑《模特》入围第25届金曲奖最佳国语男歌手奖、最佳新人奖、最佳专辑制作人、最佳国语专辑、最佳作词奖等五项大奖提名，
成为最大黑马 。
</font></p>
<!--</div>
<DIV style="cursor:hand" onclick="isHidden('target3')" align="right"><font size="2px" color="#FFFFFF">展开全部</font></DIV>
-->
&nbsp;
<h1 align="left"><a name="相似歌手"><font color="#FFFFFF" face="微软雅黑" size="5"><b>相似歌手</b></font></a></h1>
<hr size="1">
&nbsp;

<table  width="100%" border="0" align="center" cellpadding="5" style="font_size:16px" color="#FFFFFF" style="margin:auto;">
<tr>
	<td><a href="single.html"><img src="images/7066195351418187465.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
	<td><a href="single.html"><img src="images/21003723191470712635.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
</tr>

<tr>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬陈粒</font></a></td>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬小半</font></a></td>
</tr>
<br />
</table>

<table  width="100%" border="0" align="center" cellpadding="5" style="font_size:16px" color="#FFFFFF" style="margin:auto;">
<tr>
	<td><a href="single.html"><img src="images/1674421470122216.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
	<td><a href="single.html"><img src="images/15374364697909.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
</tr>

<tr>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬五月天</font></a></td>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬阿黛尔Adode</font></a></td>
</tr>
<br />
</table>

<table  width="100%" border="0" align="center" cellpadding="5" style="font_size:16px" color="#FFFFFF" style="margin:auto;">
<tr>
	<td><a href="single.html"><img src="images/21002904081458280614.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
	<td><a href="single.html"><img src="images/1675891330309511.jpg@1e_1c_100Q_100w_100h" height="100" width="100" /></a></td>
</tr>

<tr>

<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬李宗盛</font></a></td>
<td><a href="singer.html"><font color="#6C6C6C" face="微软雅黑"size="2">♬陈奕迅</font></a></td>
</tr>

<br />
</table>


</div>


</div>

<hr align= "left" width="100%" size="0.009" color="#FFFFFF" noshade="noshade">



<br />
<br />
</div>










</div>

<table align="center" width="40%" border="0"  cellpadding="0" style="margin:auto;">
<tr>
<td><a href="about.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 关于XM |</font></a></td>
<td><a href="javascript:alert(APP正在马不停蹄的开发中，请先使用我们我的PC端网页版收听最好的音乐！)"><font color="#FFFFFF" face="微软雅黑" size="1">| 客户端 |</font></a></td>
<td><a href="contact.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 联系XM |</font></a></td>
<td><a href="support.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 问题中心 |</font></a></td>
<td><a href="law.html"><font color="#FFFFFF" face="微软雅黑" size="1">| 法律支持 |</font></a></td>
</table>
<h1 align="center"><a href="index.html"><font color="#FF0000" face="华文彩云" size="20">X Music</font></a></h1>

<script src="../static/js/down.js"></script>
<script>
	$(function(){

		var $eleBtn2 = $("#btn2");

		//方法二：通过form
		$eleBtn2.click(function(){
			var $eleForm = $("<form method='get'></form>");

			$eleForm.attr("action","musics/06：41 A.M. - 林峯.mp3");

			$(document.body).append($eleForm);

			//提交表单，实现下载
			$eleForm.submit();
		});
	})
</script>
<script>
	$(function(){

		var $eleBtn2 = $("#btn3");

		//方法二：通过form
		$eleBtn2.click(function(){
			var $eleForm = $("<form method='get'></form>");

			$eleForm.attr("action","mv/张杰,Far East Movement - 网易云音乐the X Project张杰 ／ Far East Movement预告片.mp4");

			$(document.body).append($eleForm);

			//提交表单，实现下载
			$eleForm.submit();
		});
	})
</script>
</body>

</html>

